body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;
  color: black;
  background: white;
  font-family: "Inconsolata";
  font-size: 100%;
  font-weight: 400;
}

.hello {
  color: black;
}

.main_text {
  max-width: 600px;
  margin-left: -200px;
  margin-top: -140px;
  left: 50%;
  top: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}

.text {
  max-width: 900px;
  margin-left: -450px;
  margin-top: -350px;
  left: 50%;
  top: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}

a {
  color: #1A0DAB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.nav {
  max-width: 900px;
  margin-left: -450px;
  left: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}

ul.main {
  padding: 0px;
  text-align: center;
}

li {
  display: inline-block;
  padding-top: 5px;
}

li.main:after {
  content: " |";
}

li.main:last-child:after {
    content: "";
}

li.nav:after {
  content: " |";
}

li.nav:last-child:after {
    content: "";
}

.play {
  text-align: right;
}

iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width : 420px) {
  .text {
    max-width: 300px;
    margin-left: -150px;
    font-size: 90%;
  }
}

@media only screen and (max-width : 320px) {
  .text {
    max-width: 250px;
    margin-left: -125px;
    font-size: 80%;
  }
}

@media only screen and (max-width : 270px) {
  .text {
    max-width: 200px;
    margin-left: -100px;
    font-size: 70%;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}