.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: relative;
  color: black;
  background: white;
  font-family: "Inconsolata";
  font-size: 100%;
  font-weight: 400;
}

.hello {
  color: black;
}

.main_text {
  max-width: 600px;
  /*margin-left: -200px;*/
  margin-top: 40px;
  left: 1.5%;
  top: 85%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 22px;
  /*font-weight: bold;*/
}

a {
  color: #1A0DAB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.nav {
  max-width: 900px;
  margin-left: -450px;
  left: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}

ul.main {
  padding: 0px;
  text-align: left;
}

li {
  display: inline-block;
  padding-top: 5px;
}

li.main:after {
  content: " |";
}

li.main:last-child:after {
    content: "";
}

li.nav:after {
  content: " |";
}

li.nav:last-child:after {
    content: "";
}

.play {
  text-align: right;
}

/* fullpage */

.section {
  text-align:left;
  /*font-size: 3em;*/
}

.section-text {
  font-size: 0.5em;
  margin-left: 1em;
}

#main_section {
  background-image: url("/src/20220910_202037.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#downtown {
  max-width: 600px;
  margin-top: 40px;
  left: 73.2%;
  top: 35%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 22px;
}

#uptown {
  max-width: 600px;
  margin-top: 40px;
  left: 34.7%;
  top: 35%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 22px;
}