.main_text {
  max-width: 600px;
  left: 1.5%;
  top: 95%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 12px;
}

a {
  text-decoration: none;
}

div.nav {
  max-width: 900px;
  margin-left: -450px;
  left: 50%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
}

ul.main {
  padding: 0px;
  text-align: left;
}

li {
  display: inline-block;
  padding-top: 5px;
}

li.main:after {
  content: " |";
}

li.main:last-child:after {
    content: "";
}

li.nav:after {
  content: " |";
}

li.nav:last-child:after {
    content: "";
}

.play {
  text-align: right;
}

#main_section {
  background-image: url("/src/20220910_202037.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#secondary_section {
  background-image: url("/src/IMG_20210504_185658412.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#downtown {
  max-width: 600px;
  left: 72%;
  top: 35%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 22px;
}

#uptown {
  max-width: 600px;
  left: 34.7%;
  top: 35%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 22px;
}

#jersey {
  max-width: 600px;
  left: 83%;
  top: 38%;
  position: absolute;
  text-shadow: 0px 0px 20px white;
  line-height: 1.2;
  font-size: 22px;
}

/* fullpage */

.section {
  text-align:left;
}

.section-text {
  font-size: 0.5em;
  margin-left: 1em;
}

/* search bar */

.box{
  margin: 0; 
  padding: 0;
  /*height: 100vh;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.box{
  position: relative;
}

.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #ffd52d;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 26px;
  color: #ffd52d;
  outline: none;
  transition: .5s;
}

.box:hover input{
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}

.box i{
  position: absolute;
  top: 50%;
  left: 50%;
  /*right: 15px;*/
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #ffd52d;
  transition: .2s;
}

.box:hover i{
  opacity: 0;
  z-index: -1;
}

.custom-overlay__caption {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 2px;
  font-size: 90%;
}

.custom-overlay__tag {
  word-wrap: break-word;
  display: inline-block;
  background-color: white;
  height: auto;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  padding: .2em .6em .3em;
  border-radius: .25em;
  color: black;
  vertical-align: baseline;
  margin: 2px;
}